<!DOCTYPE html>
<html ng-app="nightwatch">
<head>
  <title>Nightwatch</title>
  <meta name="viewport" content="user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1, width=device-width">
  <script src="/js/jquery-2.1.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/angular.min.js"></script>
  <script src="/js/angular-filter.min.js"></script>
  <script src="/js/app.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon.png" />
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
</head>
<body ng-controller="ReportCtrl">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Nightwatch</a>
      </div>
    </div>
  </nav>
  <div class="container-fluid primary-container">
    <div class="row primary-row">
      <div class="col-md-4 no-padding sidebar">
        <!--
        <form class="form-inline filter-form">
          <div class="form-group">
            <div class="input-group">
              Class:
              <select id="exception-class" class="form-control-inline" ng-model="exceptionClass">
                <option value="*">Any</option>
                <option ng-repeat="class in exceptions | map:'class' | unique" ng-value="class">{{class}}</option>
              </select>
            </div>
          </div>
        </form>
-->
        <ul class="exceptions">
          <li ng-class="{ tile: true, exception: true, active: isActive(exception) }" ng-click="setActive(exception)" ng-repeat="exception in exceptions | exceptionFilter: { class: exceptionClass } | orderBy:'-timestamp'">
            <div class="primary">
              <h1><span class="class">{{exception.class}}</span><span ng-if="exception.message != exception.class">: <span class="message">{{exception.message}}</span></span></h1>
            </div>
            <div class="support">
              <span class="host">{{exception.host}}</span>
              <span class="time pull-right" ng-attr-title="{{exception.timestamp * 1000 | date:'MMM dd, yyyy hh:mm:ss a'}}">{{exception.timestamp | timeAgo}}</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-8 no-padding main-content">
        <div ng-if="activeException" class="card exception-details">
          <h4>{{activeException.class}}<span ng-if="activeException.message != activeException.class">: {{activeException.message}}</span></h4>
          <ul class="nav nav-tabs">
            <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
            <li><a href="#stack" data-toggle="tab">Stack</a></li>
            <li><a href="#environment" data-toggle="tab">Environment</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="summary">
              <div class="row">
                <div class="col-md-2"><p class="name">Class</p></div>
                <div class="col-md-10"><p>{{activeException.class}}</p></div>
              </div>
              <div class="row">
                <div class="col-md-2"><p class="name">Message</p></div>
                <div class="col-md-10"><p>{{activeException.message}}</p></div>
              </div>
              <div class="row">
                <div class="col-md-2"><p class="name">Location</p></div>
                <div class="col-md-10"><p>{{activeException.stack[0].label}} in {{activeException.stack[0].path | basename}}:{{activeException.stack[0].line}}</p></div>
              </div>
              <div class="row">
                <div class="col-md-2"><p class="name">Script</p></div>
                <div class="col-md-10"><p>{{activeException.script}}</p></div>
              </div>
              <div class="row">
                <div class="col-md-2"><p class="name">Arguments</p></div>
                <div class="col-md-10" ng-if="activeException.argv.length == 0"><p class="none">(none)</p></div>
                <div class="col-md-10" ng-if="activeException.argv.length > 0"><p>{{activeException.argv.join(' ')}}</p></div>
              </div>
              <div class="row">
                <div class="col-md-2"><p class="name">Process ID</p></div>
                <div class="col-md-10"><p>{{activeException.pid}}</p></div>
              </div>
              <div class="row">
                <div class="col-md-2"><p class="name">Host</p></div>
                <div class="col-md-10"><p>{{activeException.host}}</p></div>
              </div>
              <div class="row">
                <div class="col-md-2"><p class="name">Time</p></div>
                <div class="col-md-10"><p>{{activeException.timestamp * 1000 | date:'MMM dd, yyyy hh:mm:ss a'}}</p></div>
              </div>
            </div>
            <div class="tab-pane" id="stack">
              <table class="table">
                <tr>
                  <th>Location</th>
                  <th>File</th>
                  <th>Line</th>
                </tr>
                <tr ng-repeat="frame in activeException.stack">
                  <td>{{frame.label}}</td>
                  <td>{{frame.path}}</td>
                  <td>{{frame.line}}</td>
                </tr>
              </table>
            </div>
            <div class="tab-pane" id="environment">
              <table class="table environment">
                <tr>
                  <th>Name</th>
                  <th>Value</th>
                </tr>
                <tr ng-repeat="(name, value) in activeException.env">
                  <td>{{name}}</td>
                  <td class="value">{{value}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
